$mainColor : #43B74F;
$mainTextColor: #6B6B6B;
$mainBGColor: #EFEFEF;
$mainButtonBGColor: #43B74F;
$mainButtonTextColor: #ffffff;
$mainBorderColor: #E1E1E8;
$listPanelColor: #ffffff;
$adminPanelColor: #ffffff;

.bg {
  background:$mainBGColor;
}
