@mixin basic-list($padding, $border-color){
  padding: $padding;
  border-bottom: 1px solid $border-color;
  &:nth-child(1) {
    border-top: 1px solid $border-color;
  }
}
@mixin setWidth($width){
  display: inline-block;
  width: $width;
}
.wrapper {
  padding: 10px;
  background:$mainBGColor;
}
.admin-panel {
  &.inner {
    background: lighten($mainBGColor, 50%);
    @include basic-list(12px 0px , $mainBorderColor);
  }
  .switch {
    margin-bottom: -5px;
  }
  .question {
    line-height: 2.3;
  }
}
.discount {
  &.form-control {
    width: 76%;
  }
}
.list-wrapper {
  padding-top: 10px;
  background:$mainBGColor;
}