.editQttBox {
  -webkit-transition:all linear 1.5s;
  transition:all linear 1.5s;
  &.ng-hide{
    -webkit-transition:all linear 0s;
    transition:all linear 0s;
    opacity: 0;
  }
  &.ng-show{
    opacity: 1;
  }
}

.editPrcBox {
  -webkit-transition:all linear 1.5s;
  transition:all linear 1.5s;
  &.ng-hide{
    -webkit-transition:all linear 0s;
    transition:all linear 0s;
    opacity: 0;
  }
  &.ng-show{
    opacity: 1;
  }
}

.highlight {
  color: $mainColor;
}


@keyframes blinker {  
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}
.blink_me {
  animation: blinker steps(1) 1s infinite;
}