.editQttBox {
  -webkit-transition:all linear 1.5s;
  transition:all linear 1.5s;
  &.ng-hide{
    -webkit-transition:all linear 0s;
    transition:all linear 0s;
    opacity: 0;
  }
  &.ng-show{
    opacity: 1;
  }
}
.editPrcBox {
  -webkit-transition:all linear 1.5s;
  transition:all linear 1.5s;
  &.ng-hide{
    -webkit-transition:all linear 0s;
    transition:all linear 0s;
    opacity: 0;
  }
  &.ng-show{
    opacity: 1;
  }
}

.highlight {
  color: $mainColor;
}

@keyframes blinker {  
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}
.blink_me {
  animation: blinker steps(1) 1s infinite;
}

//not pretty, just override for color matching
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: $mainColor auto 5px;
}