<div class="list-wrapper">
  <div class="vend-pay">
    <div class="vend-pay inner total">
      <span>Sub-total</span>
      <span ng-if="status.exclusiveMode"> (EXCLUSIVE MODE)</span>
      <span class="pull-right">{{displaySubTotal() | number:2 }}</span>
    </div>
    <div class="vend-pay inner tax">
      <span>Tax (GST)</span>
      <span class="pull-right">{{displayTax() | number:2 }}</span>
    </div>
    <div class="vend-pay inner total">
      <span>Total Price</span>
      <span class="pull-right">{{totalPrice() | number:2 }}</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="vend-btn">
    <div ng-click="showModal()" class="vend-btn inner">Boomshakalaka</div>
  </div>
</div>