
.vend-btn {
  background: $mainButtonBGColor;
  &:hover {
    background: darken($mainButtonBGColor, 5%);
  }
  &.inner{
    padding: 10px;
    text-align: center;
    color: $mainButtonTextColor;
    cursor: pointer;
    font-weight: bold;
  }
}
.vend-pd {
  &.inner {
    background: $listPanelColor;
    @include basic-list(12px, $mainBorderColor); 
  }  
}

.pl {
  &.qtt {
    @include setWidth(10%);
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    &.pl-clicked {
      @extend .blink_me;
      cursor: pointer;
      font-weight: bold;
      color: $mainColor;
      font-size: 24px;
      margin: -8px 0 -8px;
    }
    &:hover {
      @extend .pl-clicked;
      color: darken($mainColor, 20%);
    }
  }
  &.close {
    line-height: 0.9;
    @include setWidth(5%);
  }
  &.name {
    padding-left: 10px;
    @include setWidth(65%);
  }
  &.prc {
    text-align: right;
    @include setWidth(20%);
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    &.pl-clicked {
      @extend .blink_me;
      cursor: pointer;
      font-weight: bold;
      color: $mainColor;
      font-size: 24px;
      margin: -8px 0 -8px;
    }
    &:hover {
      @extend .pl-clicked;
      color: darken($mainColor, 20%);
    }
  }
  &.edit {
    text-align: center;
    @include setWidth(50%);
    &:hover {
      cursor: pointer;
      font-size: 24px;
      margin: -8px 0 -8px;
      -webkit-transition:all 0.2s ease;
      transition:all 0.2s ease;
      color: darken($mainButtonBGColor, 20%);
    }
  }
  &.setPrice {
    text-align: center;
    margin: -3px 0;
    @include setWidth(50%);
    &:hover {
      cursor: pointer;
      -webkit-transition:all 0.2s ease;
      transition:all 0.2s ease;
      color: darken($mainButtonBGColor, 20%);
    }
    input.setPrice{
      float: left;
      width: 100%;
      margin: -4px 0;
    }
  }
}

.vend-pay {
  background: $listPanelColor;
  &.inner {
    background: $listPanelColor;
    @include basic-list(10px, $mainBorderColor);
  }
}

.vend-modal-mimic {
  border-radius: 5px 5px 0 0;
  border-bottom-color: #6e1416;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e63e40),color-stop(100%,#b4282a));
}

